.Header{
  width: 1440px;
  height: 207px;
  background-color: #FFFFFF;
  a,p{
    color: #2B1414;
    font-weight: 400;
  }
  &_head{
    height: 48px;
    font-size: 14px;
    background-color: #F7EBE5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__left_side{
      width: 40%;
      display: flex;
      justify-content: space-around;
    }
    &__right_side{
      width: 50%;    
      display: flex;
      justify-content: space-around;
      p{
        margin: 0;
      }
      .webs{
        width: 20%;
        display: flex;
        justify-content: space-around;
      }
    }
  }
  nav{
    height: 160px;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .left_side{
      width: 40%;
      display: flex;
      justify-content: space-around;
    }
    .right_side{
      width: 40%;
      display: flex;
      justify-content: space-around;
    }
  }
}