.Header {
  width: 1440px;
  height: 207px;
  background-color: #ffffff;
  &_head {
    height: 48px;
    font-size: 14px;
    background-color: #f7ebe5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__left_side {
      width: 40%;
      display: flex;
      justify-content: space-around;
    }
    &__right_side {
      width: 50%;
      display: flex;
      justify-content: space-around;
      .geo,
      .phone,
      .cart {
        display: flex;
        i {
          margin-right: 5px;
        }
      }
      .webs {
        width: 20%;
        display: flex;
        justify-content: space-around;
      }
    }
  }
  nav {
    height: 160px;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .left_side {
      width: 40%;
      display: flex;
      justify-content: space-around;
      img {
        margin-left: 5px;
      }
    }
    .right_side {
      width: 40%;
      display: flex;
      justify-content: space-around;
    }
  }
}
