.Header {
  width: 1440px;
  height: 207px;
  background-color: #ffffff;
  &_head {
    height: 48px;
    font-size: 14px;
    background-color: #f7ebe5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__left_side {
      width: 40%;
      display: flex;
      justify-content: space-around;
    }
    &__right_side {
      width: 50%;
      display: flex;
      justify-content: space-around;
      .login{
        display: flex;
        align-items: center;
        gap: 10px;
        button{
          padding: 0.6rem 1rem;
          border: 0;
          font-weight: 700;
          border-radius: 6px;
          background-color: royalblue;
          color: white;
          cursor: pointer;
          &:hover{
            scale: 0.95;
          }
        }
      }
    }
  }
  nav {
    height: 160px;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .left_side {
      width: 40%;
      display: flex;
      justify-content: space-around;
      img {
        margin-left: 5px;
      }
    }
    .right_side {
      width: 40%;
      display: flex;
      justify-content: space-around;
    }
  }
}
