.Content2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 1em;
  div{
    width: 570px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Montserrat;
    img{
      height: 100px;
      width: 100px;
      margin-bottom: 30px;
    }
    a{
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      padding: 10px;
    }
    p{
      width: 450px;
      margin: 0;
    }
  }
}