.Start {
  width: 1440px;
  height: 475px;
  &_content {
    width: 1440px;
    height: 475px;
    background-color: rgba(247, 247, 247, 0.1);
    display: flex;
    position: relative;
    &-images {
      width: 60%;
      img {
        position: absolute;
      }
      :nth-child(1) {
        top: 199px;
        left: 648px;
      }
      :nth-child(2) {
        top: 22px;
        left: 183px;
      }
      :nth-child(3) {
        top: 40px;
        left: 200px;
      }
      :nth-child(4) {
        top: 162px;
        left: 123px;
      }
      :nth-child(5) {
        top: 392px;
        left: 123px;
      }
      :nth-child(6) {
        top: 392px;
        left: 583px;
      }
      :nth-child(7) {
        top: 392px;
        left: 323px;
      }
      :nth-child(8) {
        top: 382px;
        left: 203px;
      }
      :nth-child(9) {
        top: 42px;
        left: 623px;
      }
      :nth-child(10) {
        top: 32px;
        left: 173px;
      }
      :nth-child(11) {
        top: 332px;
        left: 633px;
      }
      :nth-child(12) {
        top: 192px;
        left: 53px;
      }
      :nth-child(13) {
        top: 292px;
        left: 143px;
      }
    }
    &-title {
      display: flex;
      width: 30%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 1;
      text-align: center;
      img {
        width: 272px;
        height: 48px;
      }
    }
  }
  .ellipses {
    position: relative;
    .ellipse1 {
      position: absolute;
      width: 268.36px;
      height: 264.27px;
      top: 39px;
      left: 391.21px;
      background: #6fd9fb60;
      border-radius: 50%;
      filter: blur(15px);
    }
    .ellipse2 {
      position: absolute;
      width: 282.7px;
      height: 282.7px;
      top: 215.4px;
      left: 309.33px;
      background: rgba(194, 226, 255, 0.36);
      border-radius: 50%;
      filter: blur(15px);
    }
    .ellipse3 {
      position: absolute;
      width: 276.56px;
      height: 276.56px;
      top: 136.07px;
      left: 148px;
      background: rgba(255, 168, 241, 0.37);
      border-radius: 50%;
      filter: blur(15px);
    }
    .ellipse4 {
      position: absolute;
      width: 479.37px;
      height: 479.37px;
      top: 39.22px;
      left: 428.15px;
      background: rgba(200, 222, 255, 0.37);
      border-radius: 50%;
      filter: blur(15px);
    }
    .ellipse5 {
      position: absolute;
      width: 264px;
      height: 264px;
      top: 172px;
      left: 1173px;
      background: rgba(255, 252, 189, 0.45);
      border-radius: 50%;
      filter: blur(15px);
    }
    .ellipse6 {
      position: absolute;
      width: 150px;
      height: 150px;
      top: 321px;
      left: 1169px;
      background: rgba(255, 217, 195, 0.61);
      border-radius: 50%;
      filter: blur(15px);
    }
    .ellipse7 {
      position: absolute;
      width: 231px;
      height: 231px;
      top: 65px;
      left: 1088px;
      background: rgba(152, 224, 194, 0.38);
      border-radius: 50%;
      filter: blur(15px);
    }
  }
}
